@import 'tailwindcss';
@config '../tailwind.config.js';

:root {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8ffe9;
  color: #32443e;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

button {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.material-icons {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}
