@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.js';

:root {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8ffe9;
  color: #32443e;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

button {
  font-family: 'Exo', 'Open Sans', sans-serif;
}

#root {
  min-height: 100vh;
}
